* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  padding: 0 60px;
}

/* .header_left {
  width: 20%;
}
.header_mid {
  text-align: center;
  width: 50%;
}
.header_right {
  text-align: right;
  width: 30%;
} */
.header_list {
  list-style: none;
}
.header_list li {
  display: inline-block;
  padding: 0 15px;
}
.header_list a {
  text-decoration: none;
  color: black;
}
.pink_line {
  width: 0px;
  height: 3px;
  background-color: pink;
  transition: 0.2s linear;
}
a:hover .pink_line {
  width: 60px;
}

.header_left img {
  width: 200px;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 2px;
  transition: 0.4s;
}
.btn:hover {
  transform: scale(1.1);
}
/* <!-- heder da migliorare --> */


/* main */
main {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: black;
}
.layover {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.main_left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 100%;
}
.promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}
.circle span {
  font-size: 60px;
  color: green;
}
.main_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
/* .train_btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.train_btn_container img {
  width: 300px;
} */
#click_to_show {
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 35px;
  line-height: 30px;
  border: 3px solid white;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: all 1.4s cubic-bezier(.49,.22,.52,1.35);
}

#click_to_show:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

.hidden {
  opacity: 0;
  transition: 2s;
}
.visible {
  opacity: 1;
  transition: 2s;
}
.hero_container {
  width: 100%;
  height: 100%;
  background: url(https://images.pexels.com/photos/1170184/pexels-photo-1170184.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
}
.price_shower {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px 20px;
}
form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
input,
select {
  height: 30px;
  border-color: black;
  border-radius: 4px;
}

#biglietto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ticket_wrap {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.buyer_ticket {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% / 5);
}
#name_box {
  background-color: #C41329;
}

.my_btn {
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: 100px;
  line-height: 30px;
  background-color: #183153;
  border: 3px solid #183153;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: white;
  margin: 0 10px;
  transition: all 1.4s cubic-bezier(.49,.22,.52,1.35);
}
.my_btn:hover {
  opacity: 0.8;
}


/* .price_shower a {
  text-decoration: none;
}
.price_shower i {
  display: block;
  font-size: 20px;
  color: black;
  transition: 0.4s;
}
.price_shower i:hover {
  transform: scaleY(1.5);
} */


/* .btn_shower {
  position: relative;
  display: inline-block;
  width: 160px;
  line-height: 60px;
  border: 3px solid black;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: black;
}
.btn_shower span {
  font-size: 20px;
} */
